html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}
body {
  max-width: 960px;
  margin: 0 auto;
  background: #fff;
  font-family: "Reddit Sans";
  color: #171717;
}
h1 {
  margin: 1rem 0;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:hover {
  color: #3690ff;
}
hr {
  border: none;
  border-top: 1px solid #58427c;
}
nav {
  background: #ffa915;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}
nav h1 {
  flex: auto;
  margin: 0;
  text-align: center;
}
nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li a,
nav ul li span,
header .action {
  display: block;
  padding: 0.5rem;
}
.content {
  padding: 0 1rem 1rem;
}
.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}
.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}
.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}
.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}
.post > header > div:first-of-type {
  flex: auto;
}
.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}
.post .about {
  color: slategray;
  font-style: italic;
}
.post .body {
  white-space: pre-line;
}
.content:last-child {
  margin-bottom: 0;
}
.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}
.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}
.content input,
.content textarea {
  margin-bottom: 1em;
}
.content textarea {
  min-height: 12em;
  resize: vertical;
}
input.danger {
  color: #cc2f2e;
}
input[type="submit"] {
  align-self: start;
  min-width: 10em;
}

section.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
  gap: 20px;
}

section > article.product__card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #f9f9f9;
  padding: 20px;
  width: calc(33.33% - 20px); /* Three cards per row (minus spacing) */
  max-width: 40rem;
}

article.product__card > a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p.product__price {
  margin: 0;
}

p.product__description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

figure.product__image {
  width: fit-content;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.product__image img {
  width: 100%;
  height: auto;
}

article > .product__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

article > a {
  text-decoration: none;
}

article > h3 {
  font-size: 16px;
  font-style: bold;
}

/* Media query for tablet */
@media (max-width: 768px) {
  section > article.product__card {
    width: calc(50% - 20px); /* Two cards per row (minus spacing) */
  }

  p.product__description {
    -webkit-line-clamp: 5;
  }
}

/* Media query for mobile */
@media (max-width: 600px) {
  section > article.product__card {
    width: 100%; /* Single card per row on mobile */
  }

  figure.product__image {
    height: 20rem;
  }
}

/* Media section */

section > article.image__card {
  display: flex;
  flex-direction: row;
}

article > figure.image__image {
  width: 100px;
}

.image__image img {
  width: 100%;
  height: auto;
}

/* Product Details Section */

.product-detail h2 {
  margin-top: 0;
}

section.product-detail {
  display: flex;
  flex-direction: row;
}

section > figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50vw;
}

div.product-detail__lightbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.product-detail__lightbox {
  z-index: 999;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.8s 0.8s, max-height 0.8s;
  background: rgba(255, 255, 255, 0.8);
}

.product-detail__lightbox-image {
  max-height: 400px;
}

.lightbox-toggle:checked ~ .product-detail__lightbox {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s, max-height 0.8s 0.8s;
  max-height: fit-content;
}

div.product-detail__thumbnails {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: scroll;
}

div.product-detail__thumbnails > label {
  display: flex;
  align-items: center;
  border: #e6e6e6 solid 1px;
  padding: 5px;
  margin: 5px;
}

div.product-detail__thumbnails > label:hover {
  cursor: pointer;
}

div.product-detail__thumbnails > label > img {
  height: 100px;
}

article.product-detail__information {
  background-color: #f9f9f9;
  padding: 10px;
  margin: 10px;
}

p.product-detail__description {
  margin: 0;
}

p.product-detail__price {
  margin-top: 10px;
  font-weight: bold;
}

.lightbox-toggle {
  display: none;
}
