{% extends 'base.html' %} 
{% block header %}
  <h1>Produkt Information</h1>
{% endblock %} 
{% block content %}
<section class="product-detail">
  <figure>
    {% for image in product.images %}
      <div class="product-detail__lightbox-wrapper">
        <input
          type="radio"
          id="{{ image.name }}-radio"
          name="lightbox"
          class="lightbox-toggle"
          {% if loop.first %}checked{% endif %}
        />
        <div class="product-detail__lightbox" id="{{ image.name }}">
          <label for="{{ image.name }}-radio">
            <img
              class="product-detail__lightbox-image"
              src="/static/images/uploads/{{ image.name }}"
              alt="{{ image.alt_text }}"
            />
          </label>
        </div>
      </div>
    {% endfor %}

    {% if product.images|length > 1 %}
      <div class="product-detail__thumbnails">
        {% for image in product.images %}
        <label for="{{ image.name }}-radio">
          <img
            src="/static/images/uploads/{{ image.name }}"
            alt="{{ image.alt_text }}"
          />
        </label>
        {% endfor %}
      </div>
    {% endif %}

  </figure>

  <article class="product-detail__information">
    <h2>{{product.name}}</h2>
    <p class="product-detail__price">Pris: {{ product.price }}</p>
    <button>Beställ</button>
    <h3>Beskrivning:</h3>
    <p class="product-detail__description">{{ product.description }}</p>
  </article>

  {% if g.user %}
  <a class="action" href="{{ url_for('product.update', id=product.id) }}"
    >Edit</a
  >
  {% endif %}
</section>
{% endblock %}
