{% extends 'base.html' %} 
{% block header %}
  <h1>Produkt Information</h1>
{% endblock %} 
{% block content %}
<section class="product-detail">
  <figure>
    {% for image in product.images %}
      <div class="product-detail__lightbox-wrapper">
        <input
          type="radio"
          id="{{ image.name }}-radio"
          name="lightbox"
          class="lightbox-toggle"
          {% if loop.first %}checked{% endif %}
        />
        <div class="product-detail__lightbox" id="{{ image.name }}">
          <label for="{{ image.name }}-radio">
            <img
              class="product-detail__lightbox-image"
              src="{{ url_for("images.index", source=image.source) }}"
              alt="{{ image.alt_text }}"
            />
          </label>
        </div>
      </div>
    {% endfor %}

    {% if product.images|length > 1 %}
      <div class="product-detail__thumbnails">
        {% for image in product.images %}
        <label for="{{ image.name }}-radio">
          <img
            src="{{ url_for("images.index", source=image.source) }}"
            alt="{{ image.alt_text }}"
          />
        </label>
        {% endfor %}
      </div>
    {% endif %}

  </figure>

  <article class="product-detail__information">
    <h2>{{product.name}}</h2>
    <p class="product-detail__price">Pris: {{ product.price }}</p>
    <a class="button" href="#open-modal">Beställ</a>
    {% if g.user %}
      <a class="action button" href="{{ url_for('product.update', id=product.id) }}">Ändra</a>
    {% endif %}
    <h3>Beskrivning:</h3>
    <div class="product-detail__description">{{ product.description|safe }}</div>
  </article>

</section>

<div id="open-modal" class="modal-window">
  <div>
    <h1>Beställa produkter</h1>
    <p>
      Vill du beställa produkter från oss så gör du det genom att skicka ett meddelande med följande uppgifter:
    </p>
    <ul>
      <li>En list med önskade produkter och antal</li>
      <li>Förnamn och Efternamn</li>
      <li>Adress för leverans</li>
    </ul>

    <p>Skicka dessa uppgifter till <a href="mailto:{{ config['COMPANYDETAILS'].orderemail }}">{{ config['COMPANYDETAILS'].orderemail }}</a></p>

    <p>Kvittens och information om betalning kommer därefter.</p>
    <br />
    <a href="#" title="Close" class="button">Stäng</a>
  </div>
</div>

{% endblock %}
