{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Uppdatera "{{ product['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Namn</label>
    <input name="name" id="name"
      value="{{ request.form['name'] or product.name }}" required>
    
    <label for="short_description">Kort Beskrivning</label>
    <textarea name="short_description" id="short_description">
        {{ request.form['short_description'] or product.short_description }}
    </textarea>
    
    <label for="description">Beskrivning</label>
    <textarea name="description" id="description">
        {{ request.form['description'] or product.description }}
    </textarea> 
    
    <label for="price">Pris</label>
    <input name="price" id="price"
      value="{{ request.form['price'] or product.price }}" required>  
      
    
    <label for="images">Bilder</label>
    <select name="images" id="images" multiple>
      {% for image in images %}
        <option {{ "selected" if image.selected == True }} value="{{ image.source }}">{{ image.name }}</option>
      {% endfor %}
    </select>

    
    <input type="submit" value="Spara">
  </form>

  <form action="/media?redirect_url={{ request.url }}" method=post enctype=multipart/form-data >
    <input type=file name=file>
    <input type=submit value=Upload>
  </form>
  
  <hr>
  <form action="{{ url_for('product.delete', id=product.id) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Är du säker på att du vill ta bort produkten?');">
  </form>
{% endblock %}
