<!doctype html>
<head>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  <title>{{ config['GENERAL'].name }}</title>
</head>
<body>
  <header>
    {% include "header.html" %}
  </header>
  
  <main class="content">
    {% if self.header() %}
      <header>
        {% block header %}{% endblock %}
      </header>
    {% endif %}

    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    
    {% block content %}{% endblock %}
  </main>
  
  <footer>
    {% include "footer.html" %}
  </footer>
</body>

