<section class="footer__info">
  <article>
    <h2>Kontakt</h2>
    <table>
      <tbody>
        <tr>
          <td>Adress</td>
          <td>Flårekulla 104 52375 Dalum</td>
        </tr>
        <tr>
          <td>Epost</td>
          <td>lucas.wiseby@wisebydesign.se</td>
        </tr>
        <tr>
          <td>Org.nr</td>
          <td>900618-5335</td>
        </tr>
        <tr>
          <td>VAT-nr</td>
          <td>SE900618533501</td>
        </tr>
        <tr>
          <td>Bankgiro</td>
          <td>520-9473</td>
        </tr>
      </tbody>
    </table>
  </article>
  <article class="footer__links">
    <h2>Information</h2>
    <table>
      <tbody>
        <tr>
          <td>
            <a href="{{ url_for('auth.logout') }}">Länk</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{{ url_for('auth.logout') }}">Länk</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{{ url_for('auth.logout') }}">Länk</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{{ url_for('auth.logout') }}">Länk</a>
          </td>
        </tr>
      </tbody>
    </table>
  </article>
</section>
<section class="footer__copy">Copyright 2024 © WisebyDesign Sweden</section>
