<section class="footer__info">
  <article>
    <h2>Kontakt</h2>
    <table>
      <tbody>
        <tr>
          <td>Adress</td>
          <td>{{ config['COMPANYDETAILS'].address }}</td>
        </tr>
        <tr>
          <td>Epost</td>
          <td>{{ config['COMPANYDETAILS'].email }}</td>
        </tr>
        <tr>
          <td>Org.nr</td>
          <td>{{ config['COMPANYDETAILS'].orgnumber }}</td>
        </tr>
        <tr>
          <td>VAT-nr</td>
          <td>{{ config['COMPANYDETAILS'].vatnumber }}</td>
        </tr>
        <tr>
          <td>Bankgiro</td>
          <td>{{ config['COMPANYDETAILS'].banktransfernumber }}</td>
        </tr>
      </tbody>
    </table>
  </article>
  <article class="footer__links">
    <h2>Admin</h2>
    <table>
      <tbody>
        <tr>
          {% if not g.user %}
            <td>
              <a href="{{ url_for('auth.login') }}">Login</a>
            </td>
          {% else %}
            <td>
              <a href="{{ url_for('auth.logout') }}">Logout</a>
            </td>
          {% endif %}
        </tr>
      </tbody>
    </table>
  </article>
</section>
<section class="footer__copy">{{ config['FOOTER'].copytext }}</section>
